<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .completed__todo .form-control{
            text-decoration: line-through;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://www.jsviews.com/download/jsrender.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>TODO LIST</h1>
        <h2>할일 추가</h2>
        <div id="formNewTodo" class="input-group mb-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="todo">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button">입력</button>
                </div>
            </div>
        </div>
        <h2>할일</h2>
        <ul id="todoList" class="list-group"></ul>
    </div>
    <script id="todoTemplate" type="text/x-jsrender">
        <li class="input-group" data-id="{{:todoId}}">
            <div class="input-group-prepend">
                <button class="btn btn-outline-warning complete" type="button">완료</button>
            </div>
            <span type="text" class="form-control">{{:contents}}</span>
            <div class="input-group-append">
                <button class="btn btn-danger remove__todo" type="button">삭제</button>
            </div>
        </li>
    </script>

    <script type="text/javascript">

        // 데이터 관리
        const UserTodoList = [];
        const UserTodoItem = function (title) {
            this.id = new Date().getTime();
            this.title = title || '';
            this.isCompleted = false;
        };

        // UI Controller
        const $formNewTodo = $('#formNewTodo');
        const $formInput = $formNewTodo.find('input');
        const $todoList = $('#todoList');

        $formNewTodo.on('click', '.btn', () =>{
            const contents = $formInput.val();
            const newTodoItem = new UserTodoItem(contents);
            UserTodoList.push(newTodoItem);

            const $todoTemplate = $.templates('#todoTemplate');
            const renderData = {
                todoId : newTodoItem.id.toString(),
                contents : contents
            };
            const todoListItem = $todoTemplate.render(renderData);
            $todoList.append(todoListItem);

            $formInput.val('');
        });

        $todoList.on('click', '.complete', (event) => {
            const $buttonComplete = $(event.currentTarget);
            const $currentTodoItem = $buttonComplete.closest('li');
            const currentTodoId = $currentTodoItem.data('id');
            const [currentUserTodoItem] = UserTodoList.filter( (userTodoItem) => currentTodoId.toString() === userTodoItem.id.toString() );

            currentUserTodoItem.isCompleted = !currentUserTodoItem.isCompleted;
            if(currentUserTodoItem.isCompleted) {
                $buttonComplete.html('해제');
                $buttonComplete.removeClass('btn-outline-warning');
                $buttonComplete.addClass('btn-outline-danger');
                $currentTodoItem.addClass('completed__todo');
            } else {
                $buttonComplete.html('완료');
                $buttonComplete.addClass('btn-outline-warning');
                $buttonComplete.removeClass('btn-outline-danger');
                $currentTodoItem.removeClass('completed__todo');
            }
            console.log(currentUserTodoItem);
        });

        $todoList.on('click', '.remove__todo', (event) => {
            const $buttonComplete = $(event.currentTarget);
            const $currentTodoItem = $buttonComplete.closest('li');
            const currentTodoId = $currentTodoItem.data('id');

            UserTodoList.forEach(
                (userTodoItem, index) => {
                    if(currentTodoId.toString() === userTodoItem.id.toString()) {
                        UserTodoList.splice(index, 1);
                    }
                }
            );

            $currentTodoItem.remove();
            console.log(UserTodoList);
        });

    </script>
</body>
</html>